/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #FFFFFF;
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 100%;
	float: left;
	text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #FC99EA;
	border: 1px solid #FFF;
	font-size: 10pt;
	padding: 4px;
	position: sticky;
	top: 0;
	z-index: 10;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#FDCFF9;
}
table.tablesorter tbody tr:hover td {
	background-color: #f9a8ef;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #D379CF;
}
table.tablesorter thead th {
    border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #000000;
    padding: 4px;
}

.table-scroll {
    clear: both;
    overflow-y: auto;
    border: 1px solid #FC99EA;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .col-state, .col-gender {
        display: none;
    }
}
